body{
    background-color: gray;
    margin: 0px 100px 0 100px;
}

.header {
    font-size: 24px;
    color: gray;
    text-align: center;
    background-color: white;
    padding: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.nav {
    padding: 40px;
    margin-bottom: 20px;
    color: gray;
    background: white;
    text-align: center;
    font-size: 24px;
    
}

#section-container { 
padding: 0px;
color: gray;
text-align: center;
height: 300px;
font-size: 24px;
background-color: gray;
height: 300px;

}


.section1 {
    float: left;
    height: 200px;
    width: 40%;
    padding: 20px;
    background-color: white;
    color: gray;

    
}

#article {
    background-color: gray;
    /* width: 400px;
    height: 150px; */
    /* padding: 20px; */
    /*
    margin-left: 120px;
    */
    color: white;
    /* top: 50%; */
    height: 170px;
    
}

#h1 {
    background-color: white;
    /* width: 300px;
    height: 20px; */
    padding: 20px;
    color: gray;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;


}

#p {
    background-color: white;
    /* width: 300px;
    height: 20px; */
    padding: 10px;
    color: gray;
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
    margin-left: 30px;
    margin-right: 30px;

}

.aside {
    padding: 20px;
    /* width: 100px;
    height: 100px; */
    /* float: left; */
    color: black;
    text-align: center;
    font-size: 24px;
    float: right;
    width: 40%;
    height: 200px;
    background-color: white;
    color: gray;


}

.footer {
    font-size: 24px;
    color: gray;
    text-align: center;
    background-color: white;
    padding: 40px;
    margin: 10px 0px 2% 0px;
    

    
}

/* div, section {
    border: 1px solid black;
} */

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}